* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ancizar serif", "monserrat", "Open Sans", sans-serif;
    font-size: 10px;
    background-color: rgba(242, 237, 202, 0.9);
    color: #232121;
}

ul {
    list-style: none;
}

h1 {
    font-size: 4.5em;
    font-weight: bold;
}

h2 {
    font-size: 4em;
    font-weight: bold;
}

h3 {
    font-size: 2.5em;
    font-weight: bold;
}

button {
    color: #FFFFFF;
    background-color: #191919;
    width: 120px;
    height: 40px;
    border-radius: 50px;

}